@page
@model ConfirmEmailModel
@using AtuliaRestauruntv2.Models;
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
